/* ******************************************************************************************************** */
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************                MAQUETADO                 ******************************* */
.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header"
        "cuerpo cuerpo"
        "footer footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .cuerpo,
.contenedor .footer {
    background-color: white;
    padding: 20px;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************                 HEADER                   ******************************* */
.contenedor .header {
    grid-area: header;
    min-width: 100%;
    background: rgb(168, 0, 90);
    background: linear-gradient(90deg, rgb(168, 0, 56) 0%, rgb(54, 0, 29) 100%);
    color: white;
    position: fixed;
    z-index: 1;
}

/* Logo panini */
.contenedor .header .logo img {
    float: left;
    max-width: 200px;
    opacity: 0.5;
}

.contenedor .header .logo img:hover {
    opacity: 1;
    transition: 0.8s;
}

/* Menu */
.contenedor .header .menu {
    padding-right: 50px;
    float: right;
}

.menu>a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 2px 2px 3px rgb(37, 0, 0);
}

.menu>a:hover {
    background-color: rgb(151, 0, 81);
    border-radius: 50px;
    transition: 0.8s;
}

.menu img {
    max-width: 22.5px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(117deg) brightness(109%) contrast(109%);
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************                  INDEX                   ******************************* */
.contenedor .cuerpo-index {
    padding-left: 100px;
    background-image: url("../images/fondoindex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: cuerpo;
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: 3px 3px 5px rgb(58, 0, 16);
    margin-top: 80px;
    min-height: 660px;

}

.contenedor .cuerpo-index h1 {
    margin-top: 160px;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************                 TIENDA                   ******************************* */
.contenedor .cuerpo-tienda {
    grid-area: cuerpo;
    background-image: url("../images/fondoshop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(39, 0, 49);
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    min-height: 500px;
}

.contenedor .cuerpo-tienda .contenedorArticulos {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(39, 0, 49);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
}

/* Voucher Bar */
.contenedor .cuerpo-tienda .voucherBar {
    padding: 10px;
    min-width: 250px;
    width: 88%;
    max-width: 1150px;
    background: rgb(220, 80, 40);
    background: linear-gradient(100deg, rgb(220, 79, 40) 0%, rgb(235, 165, 43) 100%);
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(36, 1, 1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* FILTROS */
.contenedor .cuerpo-tienda .menuFiltros {
    padding: 10px;
    min-width: 250px;
    width: 88%;
    max-width: 1150px;
    background: #ffffffb4;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(36, 1, 1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#botonFiltros {
    text-decoration: none;
    border: none;
    color: white;
    box-shadow: 3px 3px 8px rgb(36, 1, 1);
    background-color: rgb(110, 30, 130);
    padding: 10px 40px;
    border-radius: 25px;
    opacity: 0.8;
}

#botonFiltros:hover {
    opacity: 1;
    transition: 0.8s;
}


/* ARTICULOS */
.contenedor .cuerpo-tienda .articulo {
    margin-top: 10px;
    text-align: center;
    background-color: white;
    color: rgb(43, 0, 54);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(36, 1, 1);
}

.contenedor .cuerpo-tienda .articulo a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    padding: 10px 35px;
    background-color: rgb(110, 30, 130);
    opacity: 0.5;
    border-radius: 2px;
    box-shadow: 3px 3px 8px rgb(39, 0, 49);
}

.contenedor .cuerpo-tienda .articulo a:hover {
    opacity: 1;
}

.contenedor .cuerpo-tienda img {
    width: 250px;
}

.boton {
    text-decoration: none;
    color: white;
    background-color: rgb(110, 30, 130);
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(44, 0, 12);
    text-shadow: 3px 3px 3px rgb(37, 0, 46);
}

.boton:hover {
    background-color: rgb(181, 116, 197);
    transition: 0.8s;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************            SIMULADOR/VOUCHER             ******************************* */
.contenedor .cuerpoVoucher {
    grid-area: cuerpo;
    background: rgb(205, 15, 70);
    background: linear-gradient(800deg, rgb(204, 35, 83) 0%, rgb(189, 14, 63) 100%);
    background-image: url("../images/seleccion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(54, 5, 66);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    min-height: 500px;
    padding-bottom: 30px;
}

.contenedor .simuladorVoucher {
    text-align: center;
    width: 65%;
    height: 95%;
    border-radius: 50px;
    background: rgb(220, 80, 40);
    background: linear-gradient(100deg, rgba(220, 79, 40, 0.800) 0%, rgba(235, 165, 43, 0.800) 100%);
    text-shadow: 1px 1px 3px rgb(71, 7, 25);
    padding-top: 35px;
    box-shadow: 3px 3px 8px rgb(54, 0, 18);
    min-height: 500px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contenedor .simuladorVoucher img {
    height: 310px;
    box-shadow: 3px 3px 8px rgb(54, 0, 18);
    margin: 10px;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
}

.contenedor .simuladorVoucher img:hover {
    transform: scale(1.04, 1.04);
    transition: 0.75s;
}

#botonVoucher {
    text-decoration: none;
    border: none;
    color: white;
    box-shadow: 3px 3px 8px rgb(36, 1, 1);
    background-color: rgb(121, 0, 64);
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 25px;
    opacity: 0.7;
}

#botonVoucher:hover {
    opacity: 1;
    transition: 0.3s;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************                CONTACTO                  ******************************* */
.contenedor .cuerpo-contacto {
    grid-area: cuerpo;
    background: rgb(205, 15, 70);
    background: linear-gradient(800deg, rgb(204, 35, 83) 0%, rgb(189, 14, 63) 100%);
    background-image: url("../images/fondocontacto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(110, 30, 130);
    text-shadow: 1px 1px 3px rgb(110, 30, 130);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    min-height: 600px;

}

.cuerpo-contacto .divPrincipal {
    background-color: white;
    text-align: center;
    width: 75%;
    height: 95%;
    border-radius: 50px;
    background: rgb(110, 30, 130);
    background: linear-gradient(100deg, rgba(127, 33, 150, 0.94) 0%, rgba(88, 6, 109, 0.94) 100%);
    text-shadow: 1px 1px 3px rgb(71, 7, 25);
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* overflow: scroll; */
    box-shadow: 3px 3px 8px rgb(54, 0, 18);
}

.divPrincipal h1 {
    text-decoration: underline;
}

/* IDS */
#logo-insta {
    max-width: 75px;
    opacity: 0.3;
    filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(105%) contrast(104%);
    z-index: 2;
}

#logo-insta:hover {
    opacity: 1;
    transition: 0.8s;
}

#logo-face {
    max-width: 75px;
    opacity: 0.3;
    filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(105%) contrast(104%);
    z-index: 2;
}

#logo-face:hover {
    opacity: 1;
    transition: 0.8s;
}

#formularioContacto {
    color: rgb(64, 14, 77);
    border-radius: 3px;
    border: none;
    text-decoration: none;
    padding: 3px;
    box-shadow: 3px 3px 8px rgb(39, 0, 49);
}

#botonContacto {
    color: rgb(64, 14, 77);
    background-color: white;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    padding: 3px;
    opacity: 0.5;
    box-shadow: 3px 3px 8px rgb(39, 0, 49);
}

#botonContacto:hover {
    /* background-color: rgb(168, 0, 56);
    color: white; */
    opacity: 1;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************            TERMINOS Y COND.              ******************************* */
.contenedor .cuerpo-terminos {
    grid-area: cuerpo;
    background: rgb(205, 15, 70);
    background: linear-gradient(800deg, rgb(204, 35, 83) 0%, rgb(161, 13, 55) 100%);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgb(44, 0, 12);
    text-align: left;
    /* Experimental */
    margin-top: 80px;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.contenedor .cuerpo-terminos .terminos {
    /* background-color: rgb(110,30,130); */
    background: rgb(110, 30, 130);
    background: linear-gradient(100deg, rgb(126, 33, 150) 0%, rgb(64, 0, 80) 100%);
    width: 70%;
    padding: 40px 90px;
    border-radius: 30px;
    box-shadow: 3px 3px 8px rgb(39, 0, 49);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(23, 0, 29);
}

.terminos h1 {
    padding-bottom: 10px;
    text-decoration: underline;
}

/* ******************************************************************************************************** */



/* ******************************************************************************************************** */
/* *******************************                 FOOTER                   ******************************* */
.contenedor .footer {
    grid-area: footer;
    max-width: 100%;
    font-weight: lighter;
    text-shadow: 3px 3px 3px rgb(46, 0, 0);
    color: rgb(255, 255, 255);
    padding: 100px;
    background: rgb(110, 30, 130);
    background: linear-gradient(90deg, rgb(168, 0, 56) 0%, rgb(54, 0, 29) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer a {
    color: white;
}

.footer img {
    margin-bottom: 5px;
    max-width: 90px;
    opacity: 0.4;
}

.footer img:hover {
    opacity: 1;
    transition: 0.7s;
}

/* ******************************************************************************************************** */




/* ******************************************************************************************************** */
/* *******************************                 MEDIAQ                   ******************************* */
@media screen and (max-width: 875px) {
    #logo-insta {
        max-width: 50px;
    }

    #logo-face {
        max-width: 50px;

    }
}

@media screen and (max-width: 768px) {
    .contenedor .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        justify-items: center;

    }

    .contenedor .header .menu>a {
        font-size: 14px;
        padding: 10px 7px;
    }

    .contenedor .header .menu img {
        max-width: 18px;
    }

    .contenedor .cuerpo-index {
        padding: 60px;
    }

    .contenedor .cuerpo-index p,
    h1 {
        max-width: 320px;
    }

    .contenedor .simuladorVoucher {
        width: 95%;
    }

    .contenedor .simuladorVoucher img {
        max-width: 200px;
    }

    .cuerpo-contacto .divPrincipal {
        min-height: 470px;

    }

    .cuerpo-contacto div {
        min-width: 90%;
        min-height: 90%;

    }

    .contenedor .footer {
        font-size: 14px;
    }

    .contenedor .footer img {
        max-width: 70px;
    }


}

@media screen and (max-width: 380px) {

    .contenedor .cuerpo-index p,
    h1 {
        max-width: 290px;
    }
}

/* ******************************************************************************************************** */